.App {
  text-align: center;
}

.App-brand {
  padding-top: 21px;
  padding-bottom: 20px;
  height: auto;
  float: none;
  display: block;
}

.nav {
	float: left;
}

.nav a {
	outline-offset: -5px;
}

.nav > li {
	display: inline-block;
}

.nav > li > a {
	padding-top: 24px;
	padding-bottom: 24px;
	color: rgba(255, 255, 255, 0.59);
	font-size: 13px;
}

.nav > li > a:hover,
.nav > li > a:focus {
	color: #fff;
	background: transparent;
}

.nav > li > a.dropdown-toggle:focus,
.nav > li > a.dropdown-toggle:active {
	outline: 5px auto -webkit-focus-ring-color;
	background-color: transparent;
}

.nav >li.dropdown.open > a.dropdown-toggle {
	background-color: transparent;
}

.nav > li.dropdown > .dropdown-menu {
	top: 63px;
}

.AppBar .search-form {
	display: flex;
	float: left;
	padding-top: 9px;
	padding-bottom: 9px;
	min-width: 306px;
	margin-top: 14px;
	margin-right: 15px;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.15);
	box-shadow: none;
}

.AppBar .search-form i {
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}

.appbar .red-indicator.active:after {
	border-color: #0a4b69;
}

.nav > li.upgrade-link a {
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 11px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.nav > li.avatar-dropdown {
	float: right;
}

.nav > li.avatar-dropdown > a {
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav > li.avatar-dropdown .dropdown-menu a > i {
	color: #b0b0b0;
	font-size: 16px;
	position: relative;
	top: 2px;
	margin-right: 9px;
}

.nav > li.avatar-dropdown .username {
	color: #4C5656;
	font-size: 13px;
	font-weight: 600;
	text-transform: none;
	margin: 0;
}

.nav > li.avatar-dropdown .subtitle {
	margin: 0;
	font-size: 12px;
	letter-spacing: 0.45px;
}

.nav > li.nav-item-icon > a {
	height: 66px;
	padding-top: 11px;
	padding-bottom: 10px;
}

.nav > li.nav-item-icon > a > .red-indicator {
	top: 9px;
}

.AppBar .search-form input {
	font-size: 13px;
	background-color: transparent;
	color: #fff;
}

.App-intro {
  font-size: large;
}

.ec-page-header {
	background: #0b5171;
	position: relative;
}

.ec-page-header .page-header-illustration {
	position: absolute;
	right: 0;
	bottom: 0;
}

.ec-page-header .page-header-nav {
	background: rgba(11, 81, 113, 0.8);
}

.page-header-nav.nav.nav-pills > li > a {
	color: rgba(255, 255, 255, 0.59);
	font-size: 14px;
}

.page-header-nav.nav.nav-pills > li.active > a {
	box-shadow: inset 0 -3px 0 #59C697;
	color: #f1f1f1;
	font-size: 14px;
}

.page-header-nav.nav.nav-pills > li > a > span > i {
	font-size: 19px;
	position: relative;
	top: 3px;
}

.dropdown-menu > li > a > i {
	font-size: 22px;
	margin-right: 17px;
	position: relative;
	top: 4px;
}

.search-form-clear-button,
.search-form-clear-button:before {
	height: 20px;
	width: 20px;
}